---
layout: revealjs
title: Git Kompakt
description: Das Allerwichtigste in nur einem Tag
nav_exclude: true
---
<section>
	<section data-markdown="sections/workshop-git-kompakt/title.md"></section>
	<section data-markdown="sections/workshop-git-buch/index.md"></section>
	<section data-markdown="sections/schedule/1-day-0830-1615.md"></section>
	<section data-markdown="sections/workshop-git-license/index.md"></section>
	<section data-markdown="sections/section-headers/was-ist-git.md"></section>
	<section data-markdown="sections/section-headers/repository.md"></section>
	<section data-markdown="sections/section-headers/commits.md"></section>
	<section data-markdown="sections/section-headers/remotes.md"></section>
	<section data-markdown="sections/section-headers/push-pull.md"></section>
	<section data-markdown="sections/section-headers/merges.md"></section>
	<section data-markdown="sections/section-headers/branches.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/was-ist-git.md"></section>
	<section data-markdown="sections/about-git/index.md"></section>
	<section data-markdown="sections/git-usage-and-help/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/repository.md"></section>
	<section data-markdown="sections/repository/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/commits.md"></section>
	<section data-markdown="sections/commits-erstellen/index.md"></section>
	<section data-markdown="sections/anatomie-eines-commits/index.md"></section>
	<section data-markdown="sections/staging/index.md"></section>
	<section data-markdown="sections/tags/index.md"></section>
	<section data-markdown="sections/oops/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/remotes.md"></section>
	<section data-markdown="sections/remotes/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/push-pull.md"></section>
	<section data-markdown="sections/push-and-pull/index.md"></section>
	<section data-markdown="sections/pull-requests/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/merges.md"></section>
	<section data-markdown="sections/merges/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/branches.md"></section>
	<section data-markdown="sections/branches/index.md"></section>
	<section data-markdown="sections/remote-branches/index.md"></section>
</section>
