---
layout: revealjs
title: Git Verstehen
description: Alles was man braucht, um als Entwickler im Team mit Git arbeiten zu können.
nav_exclude: true
---
<section>
	<section data-markdown="sections/workshop-git-verstehen/title.md"></section>
	<section data-markdown="sections/workshop-git-buch/index.md"></section>
	<section data-markdown="sections/schedule/2-days-0900-1700-0900-1700.md"></section>
	<section data-markdown="sections/content-overview/2-days-standard.md"></section>
	<section data-markdown="sections/workshop-git-license/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/was-ist-git.md"></section>
	<section data-markdown="sections/about-git/index.md"></section>
	<section data-markdown="sections/git-usage-and-help/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/repository.md"></section>
	<section data-markdown="sections/repository/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/commits.md"></section>
	<section data-markdown="sections/commits-erstellen/index.md"></section>
	<section data-markdown="sections/anatomie-eines-commits/index.md"></section>
	<section data-markdown="sections/staging/index.md"></section>
	<section data-markdown="sections/tags/index.md"></section>
	<section data-markdown="sections/oops/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/remotes.md"></section>
	<section data-markdown="sections/remotes/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/push-pull.md"></section>
	<section data-markdown="sections/push-and-pull/index.md"></section>
	<section data-markdown="sections/pull-requests/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/merges.md"></section>
	<section data-markdown="sections/merges/index.md"></section>
</section>
<section>
	<section data-markdown="sections/section-headers/branches.md"></section>
	<section data-markdown="sections/branches/index.md"></section>
	<section data-markdown="sections/remote-branches/index.md"></section>
</section>
<section>
	<section data-markdown="sections/workflows/index.md"></section>
	<section data-markdown="sections/branching-motivation/index.md"></section>
	<section data-markdown="sections/branching-befehle/index.md"></section>
	<section data-markdown="sections/branching-patterns/index.md"></section>
	<section data-markdown="sections/branching-modelle/index.md"></section>
	<!-- nachfolgende Abschnitte mal überarbeiten und entrümpeln -->
	<section data-markdown="sections/workflow-auf-dem-master-entwickeln/index.md"></section>
	<section data-markdown="sections/workflow-feature-branching/index.md"></section>
	<section data-markdown="sections/workflow-continuous-delivery/index.md"></section>
	<section data-markdown="sections/workflow-periodic-releases/index.md"></section>
	<section data-markdown="sections/workflow-multiple-releases/index.md"></section>
	<section data-markdown="sections/pull-requests/index.md"></section>
	<section data-markdown><textarea data-template>### [To Branch or Not to Branch](https://kapitel26.github.io/slides/2019-10-27-to-branch-or-not-to-branch/)</textarea></section>
</section>
<section>
	<section data-markdown="sections/rebasing/index.md"></section>
	<section data-markdown="sections/interactive-rebasing/index.md"></section>
</section>
<section>
	<section data-markdown="sections/modularisierung/index.md"></section>
	<section data-markdown="sections/large-repos/index.md"></section>
</section>
