---
layout: page
---

<h2>Workshop</h2>

<h1>Workshop: {{ page.title }}</h1>

<p>
    <i>
        {{ page.description }}
    </i>
</p>

<p>
    Zur <a href="presentation-{{ page.id }}.html">Präsentation</a>,
    zur <a href="presentation-{{ page.id }}.html#/0/3">Agenda</a>,
    zum <a href="presentation-{{ page.id }}.html?print-pdf">Ausdrucken</a>
</p>

<h2>
Inhalte
</h2>

{{ content }}

